@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env;

<!DOCTYPE html>

<html lang="@ViewData["Language"]">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Rugby Club Aachen">
    <title>@ViewData["Title"] - Rugby Club Aachen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RugbyClubAachenWeb.styles.css" asp-append-version="true" />
    <!-- 
    [if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write("<script src='https://pr01.allunited.nl/libraries/t2/js/vendor/html5shiv.js'><\/script>")</script>
    <![endif]
    -->
</head>

<body>
    <div class="container">
        <header>
            <nav
                class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">RugbyClubAachenWeb</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>
                        <!--Language Dropdown -->
                        <li class="nav-item dropdown">
                            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Language
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#" id="en">English</a></li>
                                <li><a class="dropdown-item" href="#" id="de">Deutsch</a></li>
                                <li><a class="dropdown-item" href="#" id="afr">Afrikaans</a></li>
                            </ul>
                        </li>
                    </div>
                </div>
            </nav>
            <!-- Picture Carousel -->
            <div id="RugbyCarouselHeader" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <div class="carousel-item active">
                            <img src="..." class="d-block w-100" alt="Rugby Picture @i">
                        </div>
                    }
                    <button class="carousel-control-prev" type="button" data-bs-target="#RugbyCarouselHeader"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#RugbyCarouselHeader"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <!-- Sponsors in the footer -->
            <div class="sponsors">
                <div class="row">
                    <h4>Our sponsors</h4>
                </div>
                <div id="sponsors-hook">
                    <div class="row">
                        <div class="col-2">
                            <a href="https://www.viessmann.de/de/wohngebaeude/welche-heizung.html" target="_blank"
                                title="Viessmann">
                                <img src="sponsorlogos/43_10_viesman_new_1_1.jpg" alt="Viessmann">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                &copy; 2024 - RugbyClubAachenWeb - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/fastclick.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>

</html>