html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  --sd-bg: linear-gradient(180deg, black 15% , yellow,  white ,yellow );
  background-image: var(--sd-bg);
}

/* Sebastian CSS*/

.image {
  width: 100%;
  height: 100%;
}

.imagesmall {
  width: 50%;
  height: 50%;
}

.carouselimg {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

.navbar-colour {
  /*copied from bg-white and replaced colour with black (dark)*/
  --bs-bg-opacity: 1;
  background-color: black;
}

.navbar-text, 
.navbar-brand,
.nav-link {
  color: white !important;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

/*Rugby Club Aachen Website CSS*/

.block {
  margin-left: 10px;
  margin-right: 10px;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.wrapper .footer {
  background-color: #ffc107;
  text-align: center;
  width: 100%;
  margin-top: auto;
  padding: 20px 0;
  position: relative !important;
  white-space: nowrap;
}

.sponsors {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  text-align: center;
}

.sponsor img {
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 10px;
}

.privacy {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  margin-top: 20px;
}


/* .content-block--calendar-block-list .calendar-item {
  overflow:auto;
  padding-left:0;
  padding-right:0;
}
.content-block--calendar-block-list .calendar-item__header {
  float:left;
}
.content-block--calendar-block-list .calendar-item__date-from {
  float:left;
  width:85px;
  line-height:40px;
}
.content-block--calendar-block-list .calendar-item__date-from .calendar-item__date__day {
  width:40px;
  height:40px;
  border-radius:40px;
}
.content-block--calendar-block-list .calendar-item__title {
  float:left;
  max-width:215px;
  min-height:40px;
  line-height:20px;
  padding-top:10px;
  word-wrap:break-word;
}
.content-block--calendar-block-list .calendar-item__content {
  float:left;
  clear:both;
}
.content-block--calendar-block-list .calendar-item__time {
  float:left;
  margin-right:10px;
  clear:both;
}
.content-block--calendar-block-list .calendar-item__location {
  float:left;
  line-height:24px;
} */

/* Clearfix CSS*/

.clearfix {
  zoom:1;
}
.clearfix:before,
.clearfix:after {
  content:"\0020";
  display:block;
  height:0;
  overflow:hidden;
}
.clearfix:after {
  clear:both;
}
@media (min-width: 992px) {
  .clearfix-desktop {
    zoom:1;
  }
  .clearfix-desktop:before,
  .clearfix-desktop:after {
    content:"\0020";
    display:block;
    height:0;
    overflow:hidden;
  }
  .clearfix-desktop:after {
    clear:both;
  }
  .clearfix-desktop:before,
  .clearfix-desktop:after {
    content:"\0020";
    display:block;
    height:0;
    overflow:hidden;
  }
  .clearfix-desktop:after {
    clear:both;
  }
}
@media (min-width: 660px) and (max-width: 992px) {
  .clearfix-tablet {
    zoom:1;
  }
  .clearfix-tablet:before,
  .clearfix-tablet:after {
    content:"\0020";
    display:block;
    height:0;
    overflow:hidden;
  }
  .clearfix-tablet:after {
    clear:both;
  }
  .clearfix-tablet:before,
  .clearfix-tablet:after {
    content:"\0020";
    display:block;
    height:0;
    overflow:hidden;
  }
  .clearfix-tablet:after {
    clear:both;
  }
}
@media (max-width: 660px) {
  .clearfix-mobile {
    zoom:1;
  }
  .clearfix-mobile:before,
  .clearfix-mobile:after {
    content:"\0020";
    display:block;
    height:0;
    overflow:hidden;
  }
  .clearfix-mobile:after {
    clear:both;
  }
  .clearfix-mobile:before,
  .clearfix-mobile:after {
    content:"\0020";
    display:block;
    height:0;
    overflow:hidden;
  }
  .clearfix-mobile:after {
    clear:both;
  }
}
