@page
@model GalleryModel
@{
    ViewData["Title"] = "Galley";
}

<h1>@ViewData["Title"]</h1>

<p>Willkommen bei der Gallery. Hier wird alle Bilder die hochgeladen wurde angezeigt</p>

<!-- The Gallery displays 20 images at a time-->

<!-- Here the upload option-->

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <input type="file" asp-for="Upload" />
        <input type="submit" />
    </form>
</div>

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="Upload"></label>
        </dt>
        <dd>
            <input asp-for="Upload" type="file" multiple>
            <span asp-validation-for="Upload"></span>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
</form>