@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="masonry">

  <!-- Picture with textblock over-->
  <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.rugby-club-aachen.com/">OG Rugby Website</a>.</p>
  </div>
  <div class="text-left">
    <img class="imagesmall" src="https://i2-prod.walesonline.co.uk/incoming/article27731501.ece/ALTERNATES/s1200b/0_South-Africa-v-Romania-Rugby-World-Cup-France-2023.jpg" alt="Rugby">
  </div>

  <!-- Agenda that is positioned next to it-->
  <div class="calendar-block col-4 block small-block">
    <h2 class="content-block-title">Agenda</h2>
    <div class="note">
      <p>There is currently no items to show</p>
      <a class="btn-default col-4 inside-col" href="https://www.rugby-club-aachen.com/index.php?page=Agenda&sid=1">Show
        full Agenda</a>
    </div>
  </div>
</div>

<!-- 2 columns with padding as example-->
<div class="container px-4 text-center">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3">Custom column padding</div>
    </div>
    <div class="col">
      <div class="p-3">Custom column padding</div>
    </div>
  </div>
</div>