@page
@model IndexModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IndexModel> Localizer
@{
  ViewData["Title"] = "Home page";
}

<div class="masonry">

  <!-- Picture with textblock over-->
  <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.rugby-club-aachen.com/">OG Rugby Website</a>.</p>
  </div>
<div class="container">
  <div class="row">
    <div class="col left">
      <img class="img-fluid imagesmall" src="~/images/willmese-dive.jpg" alt="Rugby dive">
    </div>
    <div class="col right">
      <img class="img-fluid imagesmall" src="~/images/Lukhanyo Am.jpg" alt="Rugby training">
    </div>
  </div>
</div>


  <!-- Agenda that is positioned next to it-->
  <div class="calendar-block col-4 block small-block">
    <h2 class="content-block-title">Agenda</h2>
    <div class="note">
      <p>There is currently no items to show</p>
      <a class="btn-default col-4 inside-col" href="https://www.rugby-club-aachen.com/index.php?page=Agenda&sid=1">Show
        full Agenda</a>
    </div>
  </div>
</div>

<!-- 2 columns with padding as example-->
<div class="container px-4 text-center">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3">Rugby Club Aachen is located in Aachen and was founded in 1978</div>
    </div>
    <div class="col">
      <div class="p-3">Some more custom text here</div>
    </div>
  </div>
</div>